{$DOMAIN} {
  log {
    level INFO
    output file {$LOG_FILE} {
      roll_size 10MB
      roll_keep 10
    }
  }

  encode gzip

  reverse_proxy vaultwarden:80 {
    header_up X-Real-IP {remote_host}
  }
}
